<p id="notice"><%= notice %></p>
<h1>ほしい商品を保存してね（ ＾ω＾）</h1>
<p>＞＞＞一覧は<a href="/scrapings">こちら</a></p>
<table>
	<thread>
		<tr>
			<th></th>
			<th>商品名</th>
			<th colspan="2"></th>
		</tr>
	</thread>
	<% for m in @items %>
		<tbody>
				<tr>
					<td><img src="<%=h m['img'] %>"></td>
					<td><a href="<%=h m['src'] %>" target="_blank"><%=h m['name'] %></td>
					<td><%= link_to('保存', controller: "scrapings", action: "new", item_name: @name, img: @img, src: @src)%></td>
				</tr>
		</tbody>
	<% end %>
</table>
